/*-- scss:defaults --*/
// Base document colors
$body-bg: #343a40;
$body-color: white;
$headings-color: white;
$link-color: #f7f7f9;
$navbar-color: #000000;//#1a1a1a

// Code blocks
$code-block-bg-alpha: -.8;